body.with-nav {
	padding-top: 30px;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #eee;
}
footer a {
	display: block;
	padding: 5px;
	text-align: center;
	font-size: 80%;
	font-weight: bold;
}