<%- include('header.ejs') %>

<body>

<%- include('nav.ejs') %>

<div class="container">
	<div class="page-header">
		<h1>All players</h1>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>Coming ... later hopefully.</p>
		</div>
	</div>
</div>

<%- include('commonjs.ejs') %>

</body>
</html>
